body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 50px 0;
    background: rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 50px 20px;
    margin-bottom: 20px;
}

#about-project,
#features,
#about-developer,
#links {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background for sections */
}

.feature {
    margin: 20px 0;
}

footer {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

.contact {
    color: blue;
}