body {
    background-color: #F5F5DC; /* Beige background color */
    color: #333; /* Dark Grey text color */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 50px 0;
    background-color: #333; /* Dark Grey background */
    color: #F5F5DC; /* Beige text color */
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 50px 20px;
    margin-bottom: 20px;
    background-color: #F5F5DC; /* Beige background color */
    color: #333; /* Dark Grey text color */
    border: 1px solid #333; /* Dark Grey border */
}

#about-project,
#features,
#about-developer,
#links {
    border-radius: 10px;
}

.feature {
    margin: 20px 0;
}

footer {
    padding: 20px;
    background-color: #333; /* Dark Grey background */
    color: #F5F5DC; /* Beige text color */
}

.contact {
    color: #1E90FF; /* Dodger Blue for contrast */
}